# Игнорировать SSH-ключи в роли ansible_user
ansible/roles/ansible_user/files/authorized_keys

# Игнорировать vault
ansible/vars/secret.yml

# Игнорировать названия и ip IPA AD
ansible/roles/ipa_client/defaults/main.yml