# Игнорировать SSH-ключи в роли ansible_user
ansible/roles/ansible_user/files/authorized_keys

# Игнорировать vault
/home/ansi/projects/ansible/vars/secret.yml

# Игнорировать названия и ip IPA AD
/home/ansi/projects/ansible/roles/ipa_client/defaults/main.yml